<!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Наши контакты и адреса </h5>
{#                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>#}
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>ТД  САУРАН по ул.Алматы 3</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>МАГАЗИН ARMAF  по ул.Генерал Сабыр Рахимова 91 НП-3</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 7073711017</p>
            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Каталог</h5>
                <p class="mb-2">Парфюмерия</p>
                <p class="mb-2">Уход за кожей</p>
                <p class="mb-2">Для Волос</p>
                <p class="mb-2">Декоративная Косметика</p>
                <p class="mb-2">Подарочные Наборы</p>
                <p class="mb-2">Для дома</p>

            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Мой профиль</h5>
                <p class="mb-2">Зарегестрироваться</p>
                <p class="mb-2">Вход</p>
                <p class="mb-2">Мои Закладки</p>
                <p class="mb-2">Моя корзина</p>

            </div>
        </div>
        <div style="justify-content: space-around; display: flex; align-items: center" >
            <div style="display: flex">
                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>